<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">GFG</label>
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/university" routerLinkActive="active">University</a></li>
    <li><a routerLink="/teacher" routerLinkActive="active">Teacher</a></li>
    <li><a routerLink="/student" routerLinkActive="active">Student</a></li>
    <li><a routerLink="/department" routerLinkActive="active">Department</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact with us</a></li>
  </ul>
</nav>


